.wrappe-date{
    font-size: 11px;
    color: gray;
}
.wrappe-image{
    max-height: 37vh;
    width: 30vw;
}
.wrapped-loader{
    top: 10vh;
    left: 75vh;
    z-index: 99;
  }
  .font-size-2rem{
    font-size: 2rem;
}
.margin-top-1rem{
    margin-top: 1rem;
}