.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  .wrapper-welcome{
    text-transform: uppercase;
    font-weight: 300;
    margin-left: 1rem;
  }
  .wrapped-loader{
    top: 30vh;
    left: 80vh;
    z-index: 99;
  }